@page "/counter"
@inject DialogService _dialogService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me4</button>
<RadzenButton text="Click me" Click="Confirm"></RadzenButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void Confirm()
    {
        _dialogService.Confirm(
            "Do you wish to delete selected items?", 
            "Confirm delete", 
            new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" }
        );
    }

}