@page "/products"
@using FirstBlazorApp.Models;
@using FirstBlazorApp.Store.Actions
@using FirstBlazorApp.Store.Products.Actions
@using FirstBlazorApp.Store.Products.Services
@using FirstBlazorApp.Store.Products.States
@using FirstBlazorApp.Store.States
@using Fluxor
@inject IDispatcher _dispatcher
@inject IState<ProductState> _productState
@inject ProductService _productService

<button
    disabled="@Creating"
    class="btn btn-primary"
    @onclick="CreateRandomProductButton"
>
    Create Random Product
</button>

<button class="btn btn-primary">Click Me</button>
~{@_a}~

<RadzenDataGrid TItem="Product" Data="Products" @ref="_dataGrid" RowSelect="p => _selected = p ">
    <Columns>
        <RadzenDataGridColumn TItem="Product" Property="Name" Title="Name"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Product" Property="Price" Title="Price"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Product" Property="Stock" Title="Stock"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Product" Property="Unit" Title="Unit"></RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {

    private RadzenDataGrid<Product>? _dataGrid;
    private Product? _selected;
    private bool _a => _productState.Value.Creating;
    
    private IEnumerable<Product> Products => _productService.Products;
    private bool Creating => _productService.Creating;
    private bool Deleting => _productService.Deleting;
    private bool Updating => _productService.Updating;
    private bool Loading  => _productService.Loading;

    private List<string> _fruitNames = new List<string>()
    {
        "apple", "apricot", "avocado", "banana", "bell pepper", "bilberry", "blackberry", "blackcurrant", "blood orange",
        "blueberry", "boysenberry", "breadfruit", "canary melon", "cantaloupe", "cherimoya", "cherry", "chili pepper",
        "clementine", "cloudberry", "coconut", "cranberry", "cucumber", "currant", "damson", "date", "dragonfruit",
        "durian", "eggplant", "elderberry", "feijoa", "fig", "goji berry", "gooseberry", "grape", "grapefruit", "guava",
        "honeydew", "huckleberry", "jackfruit", "jambul", "jujube", "kiwi fruit", "kumquat", "lemon", "lime", "loquat",
        "lychee", "mandarine", "mango", "mulberry", "nectarine", "nut", "olive", "orange", "papaya", "passionfruit",
        "peach", "pear", "persimmon", "physalis", "pineapple", "plum", "pomegranate", "pomelo", "purple mangosteen",
        "quince", "raisin", "rambutan", "raspberry", "redcurrant", "rock melon", "salal berry", "satsuma", "star fruit",
        "strawberry", "tamarillo", "tangerine", "tomato", "ugli fruit", "watermelon"
    };

    private void AddToStock(Product product) {
        product.Stock++;
    }

    private void RemoveFromStock(Product product) {
        if (product.Stock > 1) {
            product.Stock--;
        } else {
            product.Stock = 0;
        }
    }

    private void CreateRandomProductButton(EventArgs eventArgs)
    {
        Product product = new Product(
            Guid.NewGuid(),
            _fruitNames[new Random().Next(0, _fruitNames.Count - 1)],
            (decimal) (new Random().Next(1, 100) / 10),
            (decimal) (new Random().Next(1, 100) / 10)
        );
        _dispatcher.Dispatch(new CreateProduct(product));
    }
}